* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0F1117;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #181C27;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    width: 100%;
    max-width: 500px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.imagemCarrinho {
    width: 50px;
    height: auto;

}

.titulo {
    font-size: 25px;
    text-align: center;
}

.subtitulo {
    color: gray;
    margin: 5px 0 0 0;
    font-size: 12px;
}

#criarConta {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
}

#criarConta h2 {
    margin: 0;
    font-size: 25px;
}

#criarConta p {
    color: gray;
    font-size: 12px;
    margin: 5px 0 0 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

label {
    color: gray;
    font-size: 13px;
    font-weight: bold;
}

input {
    padding: 10px;
    background-color: #30302E;
    border: 1px solid #3e3e3c;
    border-radius: 6px;
    color: white;
    outline: none;
    width: 100%;
}

.nome-container {
    display: flex;
    gap: 10px;
    width: 100%;
}

.campo-nome, .campo-sobrenome {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#perfis {
    background-color: #0F1117;
    padding: 10px;
    border-radius: 6px;
    outline: none;
    width: 100%;
}

#formulario p {
    color: gray;
    font-size: 12px;
    margin: 5px 0 0 0;
}

.termos-container {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin: 15px 0;
}

.termos-container input[type="checkbox"] {
    width: auto;
    margin-top: 3px;
}

.termos p {
    font-size: 13px;
    line-height: 1.4;
}

::placeholder {
    color: #101520;
}

.linhas {
    display: flex;
    padding: 20px;
    gap: 12px;
    align-items: center;
    font-size: 14px;
}

.linhas p{
    color: gray;
}

hr {
    flex: 1;
    border-color: gray;
}

button {
    background-color: #22C55E;
    color: #052E16;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #16a34a;
    transition: background-color 0.2s ease-in-out;
}

#voltar {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

a {
    color: #22C55E;
    text-decoration: none;
}

/* Responsividade para Celulares Pequenos */
@media (max-width: 480px) {
    main {
        padding: 20px;
        border-radius: 10px;
    }

    .nome-container {
        flex-direction: column;
    }

    .titulo {
        font-size: 22px;
    }
}