


.subtitulo {
    color: gray;
    margin: 5px 0 0 0;
    font-size: 12px;
    font-size: 13px;
    text-align: center;
}

#versao {
    color: #22C55E;
    background-color: #052E16;
    border: 1px solid green;
    border-radius: 20px;
    padding: 5px;
    margin: auto;
    margin-bottom: 30px;
    font-size: small;
}

#entrar {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
}

#entrar h2 {
    margin: 0;
    font-size: 25px;
}

#entrar p {
    color: gray;
    font-size: 12px;
    margin: 5px 0 0 0;
}



.boasvindas {
    margin: 0;
    font-size: 25px;
}

.subboasvindas {
    color: grey;
    font-size: 12px;
    margin: 5px 0 0 0;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 400px;
    padding: 20px;
    border-radius: 12px;
    width: 100%;
    box-sizing: border-box;
}

input {
    padding: 12px;
}

.esqueceusenha {
    text-align: end;
    margin: 0;
    font-size: 12px;
    margin-bottom: 10px;
}

.links-footer {
    text-align: center;
    color: gray;
    font-size: 13px;
    font-size: 15px;
    margin-top: 25px;
}

@media (max-width: 480px) {
    main {
        padding: 30px 20px;
    }
}